/* add your CSS here */
.int-fact{
 font-style: italic;
 padding:13px;
}

body {
    width: 340px;
}

ul>li>span{
	font-weight: bold;
}

ul {
  list-style-type: none;
}

img{
	
    width: 300px;
	
}

div{
	border-style: solid;
    
}

h3,img,{
	padding:13px;
}

