/* add your CSS here */
.int-fact {
 font-style: italic;
 padding:20px;
}

body {
    width: 340px;
}

ul>li>span {
	font-weight: bold;
}

ul {
  list-style-type: none;
  padding:0;
}

img {
	
    width: 300px;
	
}

div {
	border-style: solid;
    
}

h3,img {
	padding:20px;
}

